@charset "utf-8";
@font-face {
    font-family: 'qs';
	src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, button, input, select, textarea {
	font-family: "open" !important;
}
#loginbox a {
	color: #1a5076;

}
body {
	font: 600 12px/14px "qs", Verdana, sans-serif;


}
#bgimg {
	position: fixed;
	left: -20%;
	top: -20%;
		background: url('bg.jpg');
		background-size: cover;

	width: 130%;
	height: 130%;
	z-index: -1;
}
#wrapper {
	width: 960px;
	margin: 10em auto;
}
a {
	color: orangered;
text-decoration: none;
font-weight: 600;
}
.pure-menu a {
color: #FFFFFF !important;
background: #ff6633;
border-radius: 12px;
font-weight: 600;
text-shadow: 9px 2px 18px rgba(238, 38, 38, 1);
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
}
.pure-menu li a:hover, .pure-menu li a:focus {
background: #8B0000 !important;
}
#phpdiv {
	border: 2px black solid;
	border-radius: 15px;
	width: calc(100% - 2em);
	min-height: 350px;
	background: rgba(255,255,255,.5);
	font: 400 12px/14px 'open';
   padding: 15px;
}
code {
	font: 600 14px/16px monotype;
}
table {
	margin-top: 2em;
	border: 2px solid gray;
	display: inline-table;
	margin-right: 3em;
}
tr:first-of-type {
	font-weight: 900;
	color: #666;
}
td {
	min-width: 150px;
	border: 1px solid black;
	margin: 10px;

}
.colored {
	font-weight: 900;
	color:#F0F;
}

/* Login Box */
#logbox {
position: fixed;
top: 1em;
left: calc(100% - 20em);
width: auto;
height: auto;

color: #FFFFFF !important;
background: #ff6633;
border-radius: 12px;
font-weight: 600;
text-shadow: 9px 2px 18px rgba(238, 38, 38, 1);
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
}
.pure-menu ul {
	float: right;
}

#imglogo {
	margin: 2em auto;
display: block;
position: fixed;
left: 20px;
top: 0;
width: 20%;
z-index: -1;
}

.form input[type="text"], .form input[type="password"], .form input[type="email"] {
	border-radius: 12px;
	width: 6em;
	padding: 0.4em;
	margin: 0.2em 0.5em 0.2em;
	float: left;
}
.form2 input[type="text"], .form2 input[type="password"], .form2 input[type="email"] {
	margin: 5px 0;
	float: none;
}
.form2 select {
	border-radius: 12px;
	width: 6em;
	padding: 0.4em;
	margin: 5px 0 !important;
	
}
#editusersave {
	float: none !important;
	margin: 5px 0 !important;
}

.form input[type="submit"] {
	border-radius: 12px;
margin: 0.1em 0.6em;
	float: left;
	background: #8B0000 !important;
border: none;
color: white;
}
.form2 {
	float: left;
}
.form2 input{
	float: left;
	clear: both;
	display: block;
	width: auto !important;
	
}
.form2 textarea {
	float: left;
	clear: both;
	width: auto;
	border-radius: 12px;
	padding: 0.1em 0.6em;
}
.form2 input:after
{
    content: "q ";
    display: block;
    clear: both; /* if you need to break floating elements */
}
#loginform span {
margin: 0.2em;
float: left;
}

#logbox p {
width: 100%;
text-align: center;
margin: 0.4em;
}
.red {
	color: #f25a43;
}
.form2 input, .form2 select, .form2 textarea {
background: #8B0000 !important;
border: none;
color: white;
}

.clearfix {
	clear: both;
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
	background: none !important;
	margin-bottom: 1em;
}
.pure-menu li a:hover {
	border-radius: 12px;
}

#panelimg
{
  position: relative;
  float:left;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border: 1px black solid;
}
#actualimg {
  width: 240px;
  height: 240px;
}
#panelimg:hover #actualimg {
	-webkit-filter: blur(5px);
	 -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
#browseimg {
	display: none;
}
#imgbutton {
  position: absolute;
  padding: 5px;
  margin:0 auto;
  width: 120px;
 text-align: center;
bottom: -40px;
left: 0;
right: 0;
cursor: pointer;
border-radius: 12px;
background-color: #8B0000 !important;
color: white;
	 -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
#panelimg:hover #imgbutton {
position: absolute;
bottom: 40%;
left: 0;
}
#imgbutton:hover {
	padding: 10px;
}

#userinfo {
	float: left;
	margin: 0 15px;
}

#userinfo p{
	font-weight: 900;
	margin: 0 0 10px;
	font-family: 900 14px/16px;
}
#userinfo p span {
	font-weight: normal;
}
.form2 ::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    white;
}

.rotating {
  -webkit-animation: rotating-function 10.25s linear infinite;
     -moz-animation: rotating-function 10.25s linear infinite;
      -ms-animation: rotating-function 10.25s linear infinite;
       -o-animation: rotating-function 10.25s linear infinite;
          animation: rotating-function 10.25s linear infinite;
		  overflow: visible;
		  
}

@-webkit-keyframes rotating-function {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes rotating-function {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes rotating-function {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-o-keyframes rotating-function {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes rotating-function {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}